p {
    line-height: 24px;
    margin: 10px;
    font-size: 16px;
    margin-bottom: 24px;
    text-align: justify;
}

body {
  font-family: "NobileRegular","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-weight: normal;
  color: #404040;
  min-height: 100%;
  overflow-x: hidden;
  background: #edf0f2;
}

footer {
// the gradient
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 23%, #ffb76b 47%, #ff7c00 72%, #ff7f04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffb76b 0%,#ffa73d 23%,#ffb76b 47%,#ff7c00 72%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffb76b 0%,#ffa73d 23%,#ffb76b 47%,#ff7c00 72%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
// end gradient
}

.navbar-default {
    background: rgb(0,0,0);
}

.navbar-brand {
    padding: 0px;
}

.navbar-default img {
    background-color: black;
}

@font-face {
    font-family: 'TitilliumRegular';
    src: url('../fonts/TitilliumText22L003.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NobileRegular';
    src: url('../fonts/nobile.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family:"Inconsolata";font-style:normal;font-weight:400;src:local("Inconsolata"),url(../fonts/Inconsolata.ttf) format("truetype");
}

@font-face {
  font-family:"Inconsolata";font-style:normal;font-weight:700;src:local("Inconsolata Bold"),local("Inconsolata-Bold"),url(../fonts/Inconsolata-Bold.ttf) format("truetype");
}

@font-face {
  font-family:"Lato";font-style:normal;font-weight:400;src:local("Lato Regular"),local("Lato-Regular"),url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family:"Lato";font-style:normal;font-weight:700;src:local("Lato Bold"),local("Lato-Bold"),url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family:"Roboto Slab";font-style:normal;font-weight:400;src:local("Roboto Slab Regular"),local("RobotoSlab-Regular"),url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
  font-family:"Roboto Slab";font-style:normal;font-weight:700;src:local("Roboto Slab Bold"),local("RobotoSlab-Bold"),url(../fonts/RobotoSlab-Bold.ttf) format("truetype");
}

h1.teaser-headline {
    font-size: 350%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

div.teaser-background {
    background: #2AD92A;
    // the gradient
        background: #ffb76b; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #ffb76b 0%, #ffa73d 23%, #ffb76b 47%, #ff7c00 72%, #ff7f04 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #ffb76b 0%,#ffa73d 23%,#ffb76b 47%,#ff7c00 72%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #ffb76b 0%,#ffa73d 23%,#ffb76b 47%,#ff7c00 72%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    // end gradient
}

div.teasercontent {
    margin: 10px;
    overflow:hidden;
    width:100%;
}

div.titletext {
    margin: 10px;
    float:left;
    width:45%
}

div.pcviz {
    overflow:hidden;
    width: auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin:20px auto;
    background-image: url(img/pc.png);
}

.btn {
  margin: 10px;
}

.btn-info {
  background-color: #2980B9 !important;
}

.btn-info:hover {
  background-color: #2e8ece !important;
}

.btn-neutral {

  background-color: #f3f6f6 !important;
  color: #404040 !important;
}

.btn-neutral:hover {
  background-color: #e5ebeb !important;
  color: #404040;
}

.btn-neutral:visited {
  color: #404040 !important;
}

@media screen and (max-width: 768px) {
  div.pcviz {
    width: 0;
    height: 0;
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

circle {
  fill: #bee280;
  stroke: #89a35c;
  stroke-width: 1.5px;
}

text {
  color: black;
  font: 10px monospace, arial, sans-serif;
  font-weight: bold;

}

text.textClass {
  font: 15px monospace, arial, sans-serif;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.link.strokegreen {
  stroke: #89a35c;
}